<div class="container mx-auto px-4 py-16 bg-blue-500">
      <h1 class="text-5xl font-extrabold text-blue-600 mb-6 tracking-tight">
        Building Something Amazing with vite
      </h1>

      <button class="bg-black p-4"><span class="text-white">Click me</span></button>

  <a href="https://google.com">Google.com</a>
    <p class="m-2 flex flex-wrap"> Hello i am working with HMR at fly.</p>
      
    <i class="flex justify-center">So it can work smoothly even faster than i think of it.</i>
</div>
